<ngb-carousel class="carousel-wrapper" *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="{{images[0]}}" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="{{images[1]}}" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="{{images[2]}}" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>



<!-- <button class="btn btn-primary">SININE</button>
<button class="btn btn-success">ROHELINE</button>
<button class="btn btn-danger">PUNANE</button>
<button class="btn btn-warning">KOLLANE</button>
<button class="btn btn-secondary">HALL</button> -->


<!-- <div>{{ kuup2ev | date }}</div>
<div>{{ protsent | percent }}</div>
<div>{{ rahayhik | currency }}</div>
<div>{{ lause | uppercase | translate }}</div>  -->
<!--tõlkevõti: "vitamin well without sugar"
VITAMIN WELL WITHOUT SUGAR -->
<!-- <div><b>{{ lause | titlecase }}</b></div>

<div>{{ protsent * 100 + "%" }}</div>
<div>{{ kuup2ev | date:'shortTime' }}</div>
<div>{{ kuup2ev | date:'mediumTime' }}</div>
<div>{{ kuup2ev | date:'fullTime' }}</div>
<div>{{ kuup2ev | date:'fullDate' }}</div>
<div>{{ rahayhik | currency:"EUR" }}</div> -->

<!-- 1.  | translate
    2.  | uppercase - lowercase - titlecase
    3.  | date -->

<button (click)="onSortAZ()">Sorteeri A-Z</button>
<button (click)="onSortZA()">Sorteeri Z-A</button>
<button (click)="onSortPriceAsc()">Sorteeri hind kasvavalt</button>
<button (click)="onSortPriceDesc()">Sorteeri hind kahanevalt</button>

<div *ngFor="let product of products">
    <img src="{{product.imgSrc}}" alt="">
    <div>{{product.name}}</div>
    <div>{{product.price | thousandSeparator }}</div>
    <button (click)="onAddToCart(product)">Lisa {{product.name}} ostukorvi</button>
</div>