<button routerLink="/admin">Tagasi</button>

<!-- a-form --- valin ngForm --- teen sama nimega funktsiooni .ts faili
ngForm impordi lisan app.module.ts sisse -->
<form (ngSubmit)="lisa(lisamiseVorm)" #lisamiseVorm="ngForm">
  <label>Nimetus</label> <br>
  <input ngModel name="nimi" type="text"> <br>
  <label>Hind</label> <br>
  <input ngModel name="hind" type="number"> <br>
  <label>Aktiivne</label> <br>
  <input ngModel name="aktiivne" type="checkbox"> <br>
  <button>Sisesta</button> <br>
</form>