<button routerLink="/admin">Tagasi</button>

<!-- a-form --- valin ngForm --- teen sama nimega funktsiooni .ts faili
ngForm impordi lisan app.module.ts sisse -->
<form (ngSubmit)="lisa(lisamiseVorm)" #lisamiseVorm="ngForm">
  <label>Nimetus</label> <br>
  <input ngModel name="nimi" type="text" required> <br>
  <label>Hind</label> <br>
  <input ngModel name="hind" type="number" required> <br>
  <label>Aktiivne</label> <br>
  <input ngModel name="aktiivne" type="checkbox"> <br>
  <button [disabled]="lisamiseVorm.invalid">Sisesta</button> <br>
</form>

<!-- [html-atribuut]="true/false"    property binding
(event/click/keypress/mouseover)="funktsioon .ts-s"    event binding
{{ muutuja .ts failist }}         string interpolation
[(ngModel)]=".ts muutuja"          two-way binding
-->