<button (click)="onZoomShop('all')">Kõik poed</button>
<!-- <button (click)="onZoomShop('kristiine')">Kristiine keskus</button>
<button (click)="onZoomShop('ylemiste')">Ülemiste keskus</button> -->
<button 
  *ngFor="let shop of shops" 
  (click)="onZoomShop(shop.shopName)">
    {{shop.shopName}}
</button>

<br>
<a href="assets/kinkekaart_kilpnaarmepakett.pdf" download>
  Lae alla
  <!-- <img src="assets/pdf-file.png" alt=""> -->
</a>
<br>

<app-send-email></app-send-email>

<app-map [shops]="shops"></app-map>
