<input [(ngModel)]="descriptionWordCount" type="range">
<span>{{ descriptionWordCount }}</span>

<br><br>
<input [(ngModel)]="searchedProduct" (ngModelChange)="onFilterProducts()" type="text">
<br><br>

<div *ngFor="let product of products" [ngClass]="{'active': product.isActive, 'inactive': !product.isActive}">
  <div (click)="onChangeProductActive(product)">
    <img src="{{product.imgSrc}}" alt="">
    <div>{{product.name}}</div>
    <div>{{product.price}}</div>
    <div>{{product.category}}</div>
    <div>{{product.description | descriptionShortener:descriptionWordCount}}</div>
  </div>
  <button routerLink="/admin/muuda/{{product.id}}">Muuda toodet</button>
</div>

<!-- kandiline tähistab et loeme mingit väärtust .ts failist
tavalised sulud tähistavad et saadame mingit väärtust .ts -->