<div class="cart-item" *ngFor="let cartProduct of cartProducts">
    <img class="cart-item-pic" src="{{cartProduct.product.imgSrc}}" alt="">
    <div class="cart-item-name">{{ cartProduct.product.name }}</div>
    <div class="cart-item-price">{{ cartProduct.product.price.toLocaleString("fi", {minimumFractionDigits: 2, maximumFractionDigits: 2}).replace(",",".") }} €</div>
    <div>
        <img class="cart-button" (click)="onDecreaseQuantity(cartProduct)" src="assets/cart/minus.png" />
        <span class="cart-item-quantity">{{ cartProduct.quantity }} tk</span>
        <img class="cart-button" (click)="onIncreaseQuantity(cartProduct)" src="assets/cart/plus.png" />
    </div>
    <div class="cart-item-total">{{ (cartProduct.product.price * cartProduct.quantity).toLocaleString("fi", {minimumFractionDigits: 2, maximumFractionDigits: 2}).replace(",",".") }} €</div>
    <img class="cart-button" (click)="onRemoveProduct(cartProduct)" src="assets/cart/delete.png" />
</div>