.cart-item {
    display: flex; /* vasakult paremale */
    justify-content: space-between; /* tühja ruumi jaotus */
    margin: 0 10%; /* tõukab eemale; 
            1.number üleval-all  2.number vasakule-paremale */
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    /*
        margin: 20px;   IGAS suunas 20px
        margin: 30px 40px; ülevale-alla 30px   vasakule-paremale 40px
        margin: 50px 100px 0 80px - üles 50, paremale 100, alla 60, vasakule 80
        margin-top: 50px;
        margin-right: 100px;
        margin-left: 80px;
  
        % - protsent sellest kelle sees ta asub
        vh vw - protsent kõrgusest (height), protsent lehe laiusest (width)
        px
        0 - ei pea täpsustama mõõtühikut
    */
  }