<button routerLink="/admin">Tagasi</button>

<div *ngFor="let toode of tooted">
  <!-- <div>{{ toode }}</div>   {nimi: "sad", hind: 2, aktivne: true}  --> 
  <div>{{ toode.nimi }}</div>
  <div>{{ toode.hind }}</div>
  <div>{{ toode.aktiivne }}</div>
  <button routerLink="/admin/muuda/{{toode.nimi.replaceAll(' ', '-').toLowerCase().replaceAll('õ', 'o')}}">Muuda</button>
  <!-- nupp    kustutaToode(toode) -->
  <button (click)="kustutaToode(toode)">Kustuda</button>
  <br> <br>
</div>

<!-- kustutaToode(toode) { ostukorvist } -->